<?xml version="1.0" ?>
<model>
  <name>Yellow Ropehold</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Samuel Xu</name>
  </author>
  <description>
    Yellow ropehold buoy (same geometry as Red Ropehold, yellow material). For Task 3 turn buoy.
  </description>
</model>
