<?xml version="1.0" ?>
<model>
  <name>Red Ropehold</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Samuel Xu</name>
  </author>
  <description>
    Red A-Series Buoy Standard Blue Ropehold. https://polyformus.com/products/a-series-buoy-a-0-standard-blue-ropehold
  </description>
</model>
