# Virtual environments
.venv/
venv/
trt-env/

# ROS 2 Build Artifacts
log
build
install

#
camera_images
testing_media

# calibration frames
calibrate_frames_100

# Task 2/3 debug + final outputs
task_specific/task_2_3/debug_outputs/
task_specific/task_2_3/final_outputs/
task_specific/task_2_3/input_images/

camera_grid_calibration/calibrate.mkv